:root{
   --color-negro: #000;
   --altoMenu: 6vh;
   --color-blanco: #fff;
   --padding-titulo: 15px;
   --padding-predeterminado: 5% ;
   --colorFondo-hover: #232323;
   --colorTexto-hover: #e57315;
   --colorFondoLupa-hover: #7c7c7c ;

}